* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
:root {
    --primary-color: #1ebfc1;
}
a {
    text-decoration: none;
}

.content {
    width: 1170px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 186px;
    border-radius: 14px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 68px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}
.btn:hover {
    opacity: 0.8;
}
/* Header */
.header {
    padding: 38px 0 12px;
    position: sticky;
    top: -26px;
    background-color: #fff;
    z-index: 1;
    margin-bottom: 38px;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
    gap: 11px;
    margin-left: auto;
    margin-right: 161px;
}

.nav__link {
    position: relative;
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 14px;
}
.nav__item--active,
.nav__link:hover {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}
.nav__link::after {
    content: " ";
    width: 12px;
    height: 2px;
    background-color: #2f3a3b;
    position: absolute;
    left: -7px;
    bottom: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
}
.nav__item--active .nav__link::after {
    visibility: visible;
    opacity: 1;
    left: 13px;
}
.nav__action .nav__sublink {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav__action .nav__btn {
    background-color: #fff;
    color: #1ebfc1;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 24px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    min-width: 108px;
    line-height: 48px;
}

/* Hero */
.hero {
    padding-bottom: 79px;
}
.hero__wrap {
    display: flex;
    align-items: center;
}

.hero__info {
    width: 45%;
}

.hero__head {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 18px;
}
.hero__info .hero__title {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
    margin-bottom: 46px;
}
.hero__info .hero__desc {
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
    margin-bottom: 52px;
    width: 374px;
}
.hero__action {
    display: flex;
    align-items: center;
    gap: 50px;
}
.hero__play {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow: 0px 22px 50px 0px #0000000d;
    display: flex;
    cursor: pointer;
}
.hero__play img {
    margin: auto;
}
.hero__block {
    position: relative;
    width: 55%;
}
.hero__img {
    border-radius: 12px;
    display: block;
    margin-left: auto;
    width: 576px;
    height: 631px;
    object-fit: cover;
    object-position: center;
}
.hero__schedules {
    position: absolute;
    left: 0;
    bottom: 46px;
    width: 124px;
    height: 132px;
    background-color: #fff;
    border-radius: 24px;
    text-align: center;
    padding: 16px 25px 23px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero__bar {
    gap: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__schedules .hero__title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.hero__bar--1,
.hero__bar--2,
.hero__bar--3 {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #edf1f5;
    border-radius: 3px;
}
.hero__bar--4 {
    width: 35%;
    height: 6px;
    background-color: #edf1f5;
    border-radius: 3px;
}
.hero__bar--1::after {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 52%;
    height: 100%;
    background-color: #fb9899;
    border-radius: 3px;
}

.hero__bar--2::after {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 69%;
    height: 100%;
    background-color: #fb9899;
    border-radius: 3px;
}

.hero__bar--3::after {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 45%;
    height: 100%;
    background-color: #fb9899;
    border-radius: 3px;
}

.hero__courses {
    padding: 17px 25px 18px;
    display: flex;
    gap: 16px;
    align-items: center;
    position: absolute;
    left: 25px;
    top: 149px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    width: 157px;
    height: 75px;
}

.hero__courses img {
    position: relative;
    width: 36px;
    height: 40px;
}
.book__wrapper {
    position: relative;
}
.book__bar {
    width: 28px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 4px;
    bottom: 8px;
    border-radius: 3px;
}
.hero__courses .hero__desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero__actives {
    position: absolute;
    right: 45px;
    bottom: 41px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero__actives .hero__desc {
    color: #0d1111;
    font-size: 1re;
    font-weight: 500;
    margin-bottom: 8px;
}

.hero__avatars {
    display: flex;
    align-items: center;
}

.hero__avatar {
    width: 33px;
    height: 33px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-left: -7px;
    text-align: center;
    line-height: 33px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

/* Features */
.features {
    padding: 130px 0 130px;
}
.features__info {
    width: 49%;
}
.features__header,
.courses__header {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 18px;
}
.features__title {
    margin-bottom: 18px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}
.features__desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
    margin-bottom: 80px;
}

.features__wrap {
    display: flex;
    gap: 200px;
}

.features__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__item .features__img {
    width: 102px;
    height: 106px;
    border-radius: 12px;
    display: flex;
    margin-bottom: 26px;
}
.features__item:first-child .features__img {
    background-color: #ffc147;
}
.features__item:nth-child(2) .features__img {
    background-color: #ff947a;
}
.features__item:last-child .features__img {
    background-color: #bf83ff;
}
.features__img .icon {
    margin: auto;
}

.features__item .features__name {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.features__item .features__desc {
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.68; /* 168.75% */
}

/* Courses */
.courses__title {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 19px;
}

.courses__info .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.courses .row .courses__desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.courses .row .course__link {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.courses__wrap {
    display: flex;
    gap: 47px;
}

.courses__wrap .courses__item {
    flex: 1;
    position: relative;
}

.courses__item .courses__img {
    width: 358px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.7;
    background: #d0efed;
}

.courses__item .courses__summary {
    position: absolute;
    left: 17px;
    bottom: -71px;
    width: 325px;
    height: 195px;
    background-color: #fff;
    border-radius: 8px;
    padding: 18px 25px 29px;

    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
.courses__summary .courses__title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.courses__summary .courses__fee {
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}
.courses__summary strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses__summary .courses__desc {
    margin-top: 6px;
    margin-bottom: 18px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}
.courses__summary .row span {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}
.courses__summary .row span::before {
    margin-right: 10px;
    content: " ";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #1ebfc1;
    border-radius: 50%;
}

/* CountDown */
.countdown {
    margin-top: 389px;
    width: 862px;
    margin: 389px auto 264px;
}

.countdown .row {
    display: flex;
    justify-content: space-between;
}
.countdown__title {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    margin-bottom: 11px;
}
.countdown__desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

/* Testimonial */
.testimonial {
}
.testimonial__feeback {
    position: relative;
    display: flex;
    align-items: center;
    height: 48.1rem;
    gap: 72px;
}

.testimonial__slider {
    position: relative;
    height: 30.5rem;
    width: 41.9rem;
    overflow: hidden;
}
.testimonial__slider .testimonial__slide {
    position: absolute;
    top: 0;
}
.testimonial__slide .testimonial__text {
    color: #5d6564;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    margin-bottom: 33px;
}

.testimonial__author {
    display: flex;
    align-items: center;
}
.testimonial__author strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 5px;
}
.testimonial__author::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background-color: #070707;
}

.testimonial__photos {
    flex: 1;
    height: 48.1rem;
    position: relative;
}

.testimonial__avatars {
}
.testimonial__avatar {
    width: 7.8rem;
    height: 7.8rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}
.testimonial__avatar--1 {
    top: 25.8rem;
    left: 0;
}

.testimonial__avatar--2 {
    width: 9.2rem;
    height: 9.2rem;
    top: 0;
    left: 14.4rem;
}
.testimonial__avatar--3 {
    width: 23.5rem;
    height: 23.5rem;
    top: 10.7rem;
    left: 27.3rem;
}
.testimonial__avatar--4 {
    width: 11rem;
    height: 11rem;
    top: 1.9rem;
    right: 0;
}
.testimonial__avatar--5 {
    bottom: 0;
    left: 21.2rem;
}
.testimonial__avatar--6 {
    bottom: 2.9rem;
    right: 3.2rem;
}

.testimonial__btn {
    position: absolute;
    left: 0;
    bottom: 3.7rem;
    display: flex;
    gap: 3rem;
    align-items: center;
}
.slider__btn {
    width: 5rem;
    height: 5rem;
    z-index: 10;
    border: none;
    background: #2ac9bf;
    border-radius: 50%;
    cursor: pointer;
}
